@tailwind base;
@tailwind components;
@tailwind utilities;



.register-form{
  width: 55vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form{
  width: 55vh;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
